.selected-email-title {
  height: 50px;
  padding-top: 5px;
  color: #383025;
  text-decoration: underline;
}

.selected-email-from {
  height: 40px;
  color: #84817de0;
}

.selected-email-body {
  width: 60%;
  line-height: 1.4;
  color: #151313e6;
  text-align: justify;
}

