.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 180px;
    height: 45px;
    background-image: url('src/assets/images/logo.PNG');
    object-fit: contain;
    background-size: 180px 42px;
    border-radius: 50%;
  }

  .user {
    color: blue;
    display: block;
    float: right;
    .avatar{
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
